/target/

Cargo.lock
**/Cargo.lock

.idea/
.vscode/
*.iml

*.rmeta
*.rlib
*.dSYM/
*.exe
*.out
*.a
*.o
*.so
*.dylib

**/*.swp
**/*.swo
**/*.swn
*.bak
*.tmp
*.log
*.pdb

/tests/*.result

debug.log

.DS_Store
Thumbs.db